/* Headings, Call-to-actions, Header Navigation */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --Dark-Blue-intro-signup-bg: hsl(217, 28%, 15%);
    --Dark-Blue-primary-bg: hsl(218, 28%, 13%);
    --Dark-Blue-footer-bg: hsl(216, 53%, 9%);
    --Dark-Blue-testimonials-bg: hsl(219, 30%, 18%);

    --Cyan-cta-grad: hsl(176, 68%, 64%);
    --Blue-cta-grad: hsl(198, 60%, 50%);

    --White: hsl(0, 0%, 100%);
    --Light-Gray: hsl(0, 0%, 75%);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.cta,h1,h2,h3,nav {
    font-family: 'Raleway', sans-serif;
}
main,footer,p {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,p,a{
    color: var(--White);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--Light-Gray);
    opacity: 1; /* Firefox */
    font-weight: bold;
}
header, .primary-signup {
    background-color: var(--Dark-Blue-intro-signup-bg);
}
.primary {
    background-color: var(--Dark-Blue-primary-bg);
}
.review-box {
    background-color: var(--Dark-Blue-testimonials-bg);
}
footer {
    background-color: var(--Dark-Blue-footer-bg);
}
.cta-intro {
    text-align: center;
    background-image: linear-gradient(to right, var(--Cyan-cta-grad) , var(--Blue-cta-grad));
    border-radius: 50px;
    padding: 1.3em 4em;
    cursor: pointer;
}

header {
    /* Fix */
    border: 1px solid transparent;
}
.navigation {
    margin-top: 2em;
    margin-bottom: 3em;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.logo-header-img {
    width: 50%;
}
.nav-items-list {
    display: flex;
    justify-content: flex-start;
}
.nav-item {
    margin-left: 1em;
}
.nav-item a {
    color: var(--White);
}
.intro {
    background: url(./images/bg-curvy-mobile.svg);
    background-size: contain;
    background-position: 50% 60%;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-color: var(--Dark-Blue-intro-signup-bg);

}
.intro > .section-container {
    /* max-width: 600px; */
    width: 90%;
    margin: 0 auto;
    /* margin-left: 5%; */
}
.intro > .section-container > .intro-illustration-img {
    width: 100%;
    /* margin-left: 5%; */
}
.intro > .section-container > h1, .intro > .section-container > p {
    text-align: center;
}
.intro > .section-container > h1 {
    font-size: 1.5rem;
    margin: 0.8em 0;
    line-height: 1.6;
}
.intro > .section-container > p {
    font-size: 1rem;
    line-height: 1.4;
}
.intro > .section-container > a {
    /* border: 1px solid white; */
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    width: 60%;
    margin-left: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.primary > .section-container {
    width: 90%;
    margin: 0 auto;
    /* margin-left: 5%; */
}
.primary > .section-container >.primary-features {
    padding: 100px 0;
    /* border: 1px solid white; */
}

.primary > .section-container >.primary-features > .features-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "access" "security" "collaboration" "files";
    grid-gap: 2em;
    /* justify-items: center; */
    /* align-items: center; */
}

.access-feature {
    grid-area: access;
}
.security-feature {
    grid-area: security;
}
.collaboration-feature {
    grid-area: collaboration;
}   
.files-feature {
    grid-area: files;
}

.feature {
    /* border: 1px solid white; */
    /* justify-self: center; */
    /* align-self: center; */
}
.feature > * {  
    /* width: 90%; */
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}
.feature > .feature-image {
    /* width: 50%; */
    /* border: 1px solid blueviolet; */
}
.feature > .feature-image > .feature img {
    /* border: 1px solid greenyellow; */
}
.feature-details > * {  
    padding: 0.3em 0;
}




.primary > .section-container >.primary-focus {
    /* padding: 40px 0; */
    margin: 80px 0 100px 0;
    /* border: 1px solid white; */
}
.primary > .section-container > .primary-focus > .focus-container {
    display: flex;
    flex-direction: column;
}
.focus-container > * {  
    /* width: 90%; */
    padding: 1em;
    /* margin: 0 auto; */
    /* text-align: center; */
}
.focus-container > .primary-illustration {
    /* width: 50%; */
    /* border: 1px solid blueviolet; */
}
.focus-container > .primary-illustration > .primary-illustration-img {
    width: 100%;
    /* border: 1px solid greenyellow; */
}
.focus-container > .primary-text > * {  
    /* padding: 0.3em 0; */
}
.focus-container > .primary-text > h2 {  
    text-align: center;
    font-size: 1.3rem;
    padding: 1em 0;
}
.focus-container > .primary-text > p {  
    padding: 0.7em 0;
    /* line-height: 1.6; */
}
.focus-container > .primary-text .arrow-link {
    color: var(--Light-Gray);
    border-bottom: 1px solid var(--Light-Gray);
    font-size: 0.9rem;
    font-weight: 100;
    padding-bottom: 4px;
}
.focus-container > .primary-text .arrow-icon {
    /* border: 1px solid grey; */
    /* margin: auto 0; */
    color: var(--White);
    width: 1.2rem;
    margin-bottom: -0.3em;
}

.primary > .section-container >.primary-reviews {
    margin: 150px 0 50px 0;
    /* border: 1px solid white; */
}
.primary-reviews  .review-quote {
    /* border: 1px solid white; */
    margin-left: 10%;
    margin-bottom: -6px;
}
.primary-reviews  .review-quote .review-quote-img {
    width: 10%;
}
/* .primary > .section-container >.primary-reviews >.reviews-container {
    display: flex;
    flex-direction: column;
} */
.primary > .section-container >.primary-reviews >.reviews-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "satish" "bruce" "iva";
}
.reviews-container > satish {
    grid-area: satish;
}
.reviews-container > .bruce {
    grid-area: bruce;
}
.reviews-container > .iva {
    grid-area: iva;
}
.reviews-container > .review-box {
    /* align-self: center; */
    width: 90%;
    margin-left: 5%;
    padding: 1.7em;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.review-box p {
    font-size: 0.8rem;
    /* font-weight: 100; */
    line-height: 1.6;
}
.review-box + .review-box {
    margin-top: 30px;
}

.reviewer {
    margin-top: 1em;
    display: flex;
    /* border: 1px solid black; */
    justify-content: flex-start;
}
.reviewer-profile-photo {
    align-self: flex-start;
    border-radius: 100%;
    width: 20%;
    margin-right: 1em;
}
.reviewer-details {
    font-size: 0.75rem;
    color: var(--White);
}
.reviewer-details .reviewer-name{
    font-weight: 700;
}



.primary > .section-container >.primary-signup {
    padding: 2em;
    position: relative;
    top: 150px;
    /* margin: 80px 0 100px 0; */
    /* border: 1px solid white; */
}
/* .primary > .section-container > .primary-signup > .signup-container {

} */
.signup-container> .signup-text > h2 {  
    text-align: center;
    font-size: 1.3rem;
    padding: 0.75em 0;
}
.signup-container> .signup-text > p {
    padding: 0.7em 0 1.5em 0;
    text-align: center;
}
.signup-container > .signup-form-box > .form-signup {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-signup > * {
    width: 100%;
    border: 1px solid var(--Dark-Blue-intro-signup-bg);
}
.form-signup > .email {
    font-size: 1rem;
    border-radius: 50px;
    padding: 1.3em 2em;
    margin-bottom: 1.5em;
}
.form-signup > .cta-signup {
    text-align: center;
    background-image: linear-gradient(to right, var(--Cyan-cta-grad) , var(--Blue-cta-grad));
    border-radius: 50px;
    font-size: 1rem;
    padding: 1.3em 2em;
    cursor: pointer;
    font-weight: bold;
    color: white;
}


footer > .logo-footer {
    max-width: 150px;
    width: 50%;
    margin-left: 5%;
    margin-top: 250px;
    margin-bottom: 30px;
}
footer .footer-container {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (3, auto);
    grid-template-areas: "address" "links" "social";    
    /* grid-gap: 30px; */
}
footer .footer-container .address-container {
    grid-area: address;
}
footer .footer-container .links-container {
    grid-area: links;
}
footer .footer-container .social-container {
    grid-area: social;
}
.address-container {
    display: flex;
    flex-direction: column;
}
.address-container > .location-container, 
.contacts-container > .contacts-line-1,
.contacts-container > .contacts-line-2 {
    /* border: 1px solid white; */
    display: flex;
}
.location-container img,
.contacts-line-1 img, 
.contacts-line-2 img {
    align-self: center;
    flex-basis: 5%;
    margin-right: 5%;
}
.location-container img {
    align-self: flex-start;
}
.location-container p,
.contacts-line-1 p, 
.contacts-line-2 p {
    flex-basis: 90%;
}
.contacts-container > * {
    margin-top: 1.5em;
}


.links-container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}
.links-container  li {
    margin-top: 1.5em;
}
.links-container .links-list-line2 {
    margin-top: 2.5em;
}

.social-nav{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
}
i.fa {
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    margin-right: 1em;
}
i.fa-facebook{
    padding: 0.5em 0.7em;
}

.attribution-container { padding: 2em 0;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width: 660px) {
    .intro > .section-container {
        width: 80%;
    }
    .primary > .section-container >.primary-features > .features-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: "access ."
                             "access security" 
                             ". security"
                             "collaboration ."
                             "collaboration files" 
                             ". files";

    }

    .primary > .section-container > .primary-focus > .focus-container {
        display: flex;
        flex-direction: row;
    }
    .focus-container > * {
        flex-basis: 50%;
        align-self: center;
    }
    .primary-reviews  .review-quote {
        /* border: 1px solid white; */
        margin-left: 10%;
    }
    .primary > .section-container >.primary-reviews >.reviews-container {
        /* border: 1px solid white; */
        width: 80%;
        margin: 0 auto;
    }
    .primary > .section-container > .primary-signup {
        width: 80%;
        margin: 0 auto;
    }
    /* footer > .logo-footer {
        max-width: 100px;
        width: 30%;
        margin-left: 5%;
        margin-top: 250px;
        margin-bottom: 30px;
    } */
    .location-container img,
    .contacts-line-1 img, 
    .contacts-line-2 img {
        align-self: center;
        flex-basis: 3%;
        margin-right: 5%;
    }
    .location-container img {
        align-self: flex-start;
    }
    .location-container p,
    .contacts-line-1 p, 
    .contacts-line-2 p {
        flex-basis: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .logo-header-img {
        width: 60%;
    }
    .nav-item {
        margin-left: 1.5em;
    }
    .intro > .section-container {
        width: 70%;
    }
    .primary > .section-container >.primary-features > .features-container {
        /* border: 1px solid white; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "access security"
                             "collaboration files" ;
        grid-column-gap: 100px;
    }
    .primary > .section-container >.primary-signup {
        padding: 3em;
        width: 75%;
    }
    footer .footer-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: (2, auto);
        grid-template-areas: "address links" "social social";    
        /* border: 1px solid white; */
    }
    .links-container {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* border: 1px solid white; */
    }
    .links-container  li {
        margin-top: 0;
    }
    .links-container .links-list-line2 {
        margin-top: 0;
    }
    .links-container li {
        margin-bottom: 1.5em;
    }
    .social-nav {
        margin-top: 3em;
    }    
}

@media only screen and (min-width: 885px) {
    .logo-header-img {
        width: 70%;
    }
    .nav-item {
        margin-left: 3em;
    }       
    .intro {
        background: url(./images/bg-curvy-desktop.svg);
        background-size: contain;
        background-position: 50% 100%;
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-color: var(--Dark-Blue-intro-signup-bg);
    }
    .intro > .section-container {
        width: 60%;
    }
    .primary-reviews  .review-quote {
        /* border: 1px solid white; */
        margin-left: 5%;
    }
    .primary-reviews  .review-quote .review-quote-img {
        width: 5%;
    }
    .primary > .section-container >.primary-reviews >.reviews-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "satish ." ". bruce" "iva .";
    }
    .review-box + .review-box {
        margin-top: 0;
    }    
    .primary > .section-container >.primary-signup {
        padding: 3em;
        width: 70%;
    }
}
@media only screen and (min-width: 1040px) {
    .intro > .section-container > h1 {
        font-size: 2rem;
    }
    .primary > .section-container >.primary-features > .features-container {
        width: 90%;
        margin: 0 auto;
    }
    /* .primary > .section-container >.primary-signup {
        padding: 3em;
        width: 70%;
    } */
    .focus-container > .primary-text > h2 {  
        font-size: 1.7rem;
    }
    .primary-reviews  .review-quote {
        /* border: 1px solid white; */
        margin-left: 0;
    }
    .primary-reviews  .review-quote .review-quote-img {
        width: 5%;
    }
    .primary > .section-container >.primary-reviews >.reviews-container {
        /* border: 1px solid white; */
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 1fr; */
        grid-template-areas: "satish bruce iva";
    }
    .signup-form-box {
        width: 100%;
    }
    .signup-container > .signup-form-box > .form-signup {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }
    .form-signup > * {
        /* width: 50%; */
        border: 1px solid var(--Dark-Blue-intro-signup-bg);
    }
    .signup-container> .signup-text > h2 {  
        font-size: 1.7rem;
    }
    .form-signup > .email {
        width: 60%;
        margin-bottom: 0;
        margin-right: 1em;
    }
    .form-signup > .cta-signup {
        margin-top: 0;
        width: 40%;
        /* padding: 1em 3em; */
        text-align: center;
    }
    footer .footer-container {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: (2, auto);
        grid-template-areas: "address links" "social social";    
        /* border: 1px solid white; */
    }    
    .address-container {
        display: flex;
        flex-direction: row;
        /* justify-content: flex-end; */
        /* border: 1px solid greenyellow; */
    }
    .address-container > * {
        flex-basis: 50%;
    }
    .contacts-container > * {
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .links-container {
        justify-content: space-evenly;
        /* border: 1px solid white; */
    }


}
@media only screen and (min-width: 1200px) {
    .intro > .section-container {
        width: 50%;
    }
    .primary > .section-container >.primary-features > .features-container {
        width: 80%;
        grid-column-gap: 200px;
    }
    .form-signup > .email {
        width: 65%;
    }
    .form-signup > .cta-signup {
        width: 35%;
    }
    footer .footer-container {
        grid-template-columns: 2fr 1fr 1fr;
        /* grid-template-rows: (2, auto); */
        grid-template-areas: "address links social";    
        /* border: 1px solid white; */
    }
    .links-container {
        justify-content: space-around;
        /* border: 1px solid white; */
    }    
    .social-nav {
        margin-top: 0;
    }         

}